<h1>Pollster</h1>
<p>This is the homepage for Pollster</p>

<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= render 'shared/poll_form' %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>
