<h1>Create a new poll </h1>


<%= form_for(@poll) do |p| %>
  <%= render 'shared/error_messages', object: p.object %>
  <div class="field">
    <%= p.text_area :content, placeholder: "Write a new poll question..." %>
  </div>
  <%= p.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>